# Read CSV

In [1]:
import pandas as pd

In [2]:
csv_1 =pd.read_csv("dict1.csv")
csv_1

     name  marks      city
0  maulik     90       una
1   patel     70  khilavad

In [4]:
csv_2 =pd.read_csv("dict1.csv", nrows=1)
csv_2
print(type(csv_1))

<class 'pandas.core.frame.DataFrame'>

In [5]:
 csv_2 =pd.read_csv("dict1.csv", usecols=["name"])
csv_2

     name
0  maulik
1   patel

In [6]:
csv_3 =pd.read_csv("dict1.csv", skiprows=[0])
csv_3

  maulik  90       una
0  patel  70  khilavad

In [7]:
csv_4 =pd.read_csv("dict1.csv", index_col=["name"])
csv_4

        marks      city
name
maulik     90       una
patel      70  khilavad

In [9]:
csv_5 =pd.read_csv("dict1.csv", header=1)
csv_5

  maulik  90       una
0  patel  70  khilavad

In [11]:
csv_6 =pd.read_csv("dict1.csv", names=["col"])
csv_6

                   col
name   marks      city
maulik 90          una
patel  70     khilavad

In [12]:
csv_7 =pd.read_csv("dict1.csv", header=None, prefix="col")
csv_7

TypeError: read_csv() got an unexpected keyword argument 'prefix'

In [13]:
csv_8=pd.read_csv("dict1.csv", dtype={"mark":"float"})
csv_8

     name  marks      city
0  maulik     90       una
1   patel     70  khilavad